<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="HandheldFriendly" content="true">
        
        <title>인대전</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
        crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'soldierLetter/css/index.css' %}">
        <script src="{% static 'soldierLetter/js/login.js' %}"></script>
        <script src="{% static 'soldierLetter/js/base.js' %}" defer></script>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    </head>

    <body>
    <header>
        {% comment %} <div class="icon-container">
            <a href='{% url 'index' %}'>
            <img class="icon" src="{% static 'soldierLetter\image\envelope-open-text-solid.svg' %}">
            &nbsp;&nbsp;&nbsp; 인편 대신 전해드립니다
            </a>
        </div>
        <nav class="menu-navigator">
            {% if user.is_authenticated %}
                <a href="{% url 'logout'%}" class="menu">로그아웃</a>
                {% if user.is_superuser == True %}
                    <a href=" {% url 'superviser' %}" class="menu">관리자 페이지</a>
                {% else %}
                    {% if user.profile.subscribe == True %}
                        <a href="{% url 'edit' %}" class="menu">내정보 수정</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}" class="menu">로그인</a>
                <a href="{% url 'signup' %}" class="menu">회원가입</a>
            {% endif %}
            <a href="{% url 'index' %}#service" class="menu">
                서비스 소개
            </a>
            <a href="{% url 'index' %}#notice" class="menu">
                공지사항
            </a>
            <a href="{% url 'index' %}#review" class="menu">
                후기
            </a>
            <a href="{% url 'index' %}#faq" class="menu">
                자주 묻는 질문
            </a>
        </nav> {% endcomment %}
        <nav class="navbar" id="navbar">
            <div class="navbar__logo">
                <a id='logo' href='{% url 'index' %}'>
                <img class="icon" src="{% static 'soldierLetter\image\envelope-open-text-solid.svg' %}">
                <div id='logo-name'>인편 대신 전해드립니다</div></a>
            </div>
            <ul class="navbar__menu">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout'%}" class="menu">로그아웃</a></li>
                    {% if user.is_superuser == True %}
                    <li><a href=" {% url 'superviser' %}" class="menu">관리자 페이지</a></li>
                    {% else %}
                        {% if user.profile.subscribe == True %}
                        <li><a href="{% url 'edit' %}" class="menu">내정보 수정</a></li>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}" class="menu">로그인</a></li>
                    <li><a href="{% url 'signup' %}" class="menu">회원가입</a></li>
                {% endif %}
                    <li><a href="{% url 'index' %}#service" class="menu">서비스 소개</a></li>
                    <li><a href="{% url 'index' %}#notice" class="menu">공지사항</a></li>
                    <li><a href="{% url 'index' %}#review" class="menu">후기</a></li>
                    <li><a href="{% url 'index' %}#faq" class="menu">자주 묻는 질문</a></li>
            </ul>
            <div class="navbar__toggleBtn">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
      {% block content %}
      {% endblock %}
      <div class='gradient'>
        {% if user.is_authenticated %}
            {% if user.profile.subscribe == False %}
                <a href="{% url 'subscribe'%}"><button name="btn">구독하기</button></a>
            {% endif %}
        {% else %}
            <a href="{% url 'login'%}"><button name="btn">구독하기</button></a>
        {% endif %}
      </div>
    </body>

      <footer>
        <div class="footer">  
            <div class="mail">
            의견 및 문의: soldiernewsletter@gmail.com
            <br> <br>
            </div>
            <div class="footer-logo">
                <img id="footer-image" src="{% static 'soldierLetter\image\인편 대신 전해드립니다.png' %}">
            </div>
      </footer>
</html>