{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="review-title">
    후기 수정
</div>
<br>
<br>
<br>
<br>
<div id="review-form-container">
   <div id="review-form">
       <form method="POST" action="{% url 'edit_review' rid=review.id%}">
           {% csrf_token %}
           <textarea id='review-text' name='content'>{{review.content}}</textarea>
           <br>
           <input type='submit' value='수정하기'></input>
       </form>
       {% csrf_token %}
    </div>
</div>



{% endblock content %}