{% extends 'base.html' %}
{% block content %}
{% load static %}
        <section class="main-container">
            <section class="introduction sec" id="introduce-section">
                <img class="service-image" src="{% static 'soldierLetter\image\main-image6.jpg' %}">
                <div class="introduce">
                    <div class="title">
                        인편, 대신 전해드립니다
                    </div>
                    <br>
                    <div class="summary">
                        '인편 대신 전해드립니다'는 
                        <br>
                        훈련병의 관심사 맞춤형 인편을 제공하는 서비스입니다. 
                        <br>
                        고된 5주간의 훈련동안 관심있는 분야의 따끈따끈한 소식을 알고 싶으신가요?
                        <br>
                        <br>
                        그렇다면, 지금 당장 인대전하세요!
                    </div>
                </div>
            </section>
        </section>
        
        <section class="carousel">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
            <script>
            $('.carousel').carousel({
            interval: 5000
            })
            </script>

            <div id="demo" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active">
                        <section class="news-container sec">
                            <div class="content">
                                <div class="explain title">
                                    스포츠
                                </div>
                                <div class="summary">
                                    어제 있었던 핵심 스포츠 뉴스들을 보내드립니다.                        
                                </div>
                            </div>
                            <div class="example" id="example">
                            {% for sport_news in sport_news.all%}
                                <p>{{sport_news.index}}.{{sport_news.title}}</p>
                                <p>{{sport_news.summary}}</p>
                            {% endfor%}
                            </div>
                        </section>
                </div>
                <div class="carousel-item">
                    <section class="news-container sec">
                        <div class="content">
                            <div class="explain title">
                                주식
                            </div>
                            <div class="summary">
                                어제 있었던 주요 주식 뉴스들과 관심 종목을 보내드립니다.                      
                            </div>
                        </div>
                        <div class="example" id="example">
                            {% for finance_data in finance_data.all%}
                                <p>{{finance_data.index}}.{{finance_data.name}} : {{finance_data.price}}</p>
                            {% endfor%}
                            {% for finance_news in finance_news.all%}
                                <p>{{finance_news.title}}</p>
                            {% endfor%}
                        </div>
                    </section>
                </div>
                <div class="carousel-item">
                    <section class="news-container sec">
                        <div class="content">
                            <div class="explain title">
                                팁과 응원메세지
                            </div>
                            <div class="summary">
                                무료한 훈련소 시간을 빠르게 보내말한 게임,
                                <br> 힘이 될 수 있는 팁과 응원메세지를 보내드립니다.
                            </div>
                        </div>
                        <div class="example" id="example">
                            {% for sport_news in sport_news.all%}
                                <p>--{{sport_news.title}}--</p>
                                <p>{{sport_news.summary}}</p>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
        </section>

        <div id="information">
            <section class="sec" id="notice">
            <div class="title">
                공지사항
            </div>
            <div class="summary">
                {% for notice in notices %}
                <div onclick="showNoticeContent({{notice.id}})">{{notice.id}}. {{notice.title}}</div>
                <div id="notice-content-{{notice.id}}" class="notice-content" style="display:none">{{notice.content}}</div>
                <br>
                {% endfor %}                
            </div>
            <a href="{% url 'notice'%}" class="more">더보기</a>
            </section>

            <section class="sec" id="review">
            <div class="title">
                후기
            </div>
            <div class="summary">
                {% for review in reviews %}
                <div onclick="showReviewContent({{review.id}})">{{review.id}}. {{review.title}}</div>
                <div id="review-content-{{review.id}}" class="review-content" style="display:none">{{review.content}}</div>
                <br>
                {% endfor %}
            </div>
            <a href="{% url 'review'%}" class="more">더보기</a>
            </section>

            <section class="sec" id="faq">
            <div class="title">
                자주 묻는 질문
            </div>
            <div class="summary">
                Q. 유료서비스인가요??<br>
                A. ...<br>
                <br>
                Q. 후원계좌 알려주세요<br>
                A.<br>
                <br>
                Q. 안녕하세요<br>
                A. 네, 안녕하세요<br>
                <br>
                Q. 본사가 어디인가요<br>
                A. ...<br>
                <br>
                Q. 我爱你<br>
                A. 我也爱你<br>
            </div>
            </section>
        </div>
            
        <div id='to-top-icon'>
            <img id='to-top' src="{% static 'soldierLetter\image\arrow-up-solid.svg' %}">
            <script src="{% static 'soldierLetter/js/index.js' %}"></script>
        </div>

        </div>
{% endblock content %}
