{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="review-title">후기</div>
<br><br>
<div id="review-container">
    {% for review in reviews %}
    {% comment %} <div id="bubble" class="bubble"> {% endcomment %}
        {% comment %} <img src="{% static 'soldierLetter\image\soldier (1).png' %}"> {% endcomment %}
        <table class='review-table'>
            <thead class='review-table'>
                <tr class='review-table'>
                    <th class='review-table'>{{review.title}}</th>
                </tr>
            </thead>
            <tbody class='review-table'>
                <tr class='review-table'>
                    <td class='review-table'>{{review.content}}</td>
                </tr>
            </tbody>
        </table>
        {% comment %} {{review.title}}
        <br><br>
        {{review.content}} {% endcomment %}
    {% comment %} </div> {% endcomment %}
    {% endfor %}
</div>
<br>
<br>   
{% endblock content %}