{% extends 'base.html' %}
{% block content %}
{% load static %}

{{ value|linebreaksbr}}

<div id="review-title">후기</div>
<br><br>
<div id="review-container">
    {% for review in reviews %}
    <div id="bubble" class="bubble">
        {{review.author}}
        <br><br>
        {{review.content}}
        <br>
        {% if review.author == request.user %}
            <a href="{% url 'edit_review' rid=review.id %}">수정</a>
            <a href="{% url 'delete_review' rid=review.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
<a href="{% url 'new_review' %}">후기 남기기</a>
<br>
<br>   
{% endblock content %}