{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="review-title">후기</div>
<br><br>
<div id="review-container">
    {% for review in reviews %}
    {% comment %} <div id="bubble" class="bubble"> {% endcomment %}
        <div class='review-post'>
            <div id='review-title-2'>
                <div>
                    {{review.title}}
                </div>
            </div>
            <div id='review-content-2'>
                {{review.content}}
            </div>
        </div>
        {% comment %} {{review.title}}
        <br><br>
        {{review.content}} {% endcomment %}
    {% comment %} </div> {% endcomment %}
    {% endfor %}
</div>
<br>
<br>
{% endblock content %}