<h1> 구독하기 </h1>
<form method="POST" action="{% url 'subscribe' %}">
    {% csrf_token %}
    이름:
    <br>
    <input name="name" type="text" value="">
    <br>
    <br>
    생년월일:
    <br>
    <input name="birthday" type="date" value="">
    <br>
    <br>
    군종류:
    <br>
    <select name="army_type">
        <option value="" selected>=== 선택 ===</option>
        <option value="육군">육군</option>
        <option value="공군">공군</option>
        <option value="해군">해군</option>
        <option value="해병대">해병대</option>
    </select>
    <br>
    <br>
    부대정보:
    <br>
    <select name="unit_type">
        <option value="none" selected>=== 선택 ===</option>
        <option value="논산훈련소">논산훈련소</option>
        <option value="1사단">1사단</option>
        <option value="3사단">3사단</option>
        <option value="5사단">5사단</option>
        <option value="6사단">6사단</option>
        <option value="7사단">7사단</option>
        <option value="9사단">9사단</option>
        <option value="12사단">12사단</option>
        <option value="15사단">15사단</option>
        <option value="21사단">21사단</option>
        <option value="25사단">25사단</option>
        <option value="27사단">27사단</option>
        <option value="28사단">28사단</option>
        <option value="31사단">31사단</option>
        <option value="32사단">32사단</option>
        <option value="35사단">35사단</option>
        <option value="36사단">36사단</option>
        <option value="37사단">37사단</option>
        <option value="39사단">39사단</option>
        <option value="50사단">50사단</option>
        <option value="51사단">51사단</option>
        <option value="55사단">55사단</option>
    </select>
    <br>
    <br>
    입영날짜:
    <br>
    <input name="enter_date" type="date" value="">
    <br>
    <br>
    구독뉴스 1:
    <br>
    <select name="sub_type1">
        <option value="" selected>=== 선택 ===</option>
        <option value="국내야구">국내야구</option>
        <option value="해외야구">해외야구</option>
        <option value="국내축구">국내축구</option>
        <option value="해외축구">해외축구</option>
        <option value="농구">농구</option>
        <option value="이스포츠">이스포츠</option>
    </select>
    <br>
    <br>
    구독뉴스 2:
    <br>
    <select name="sub_type2">
        <option value="" selected>=== 선택 ===</option>
        <option value="국내야구">국내야구</option>
        <option value="해외야구">해외야구</option>
        <option value="국내축구">국내축구</option>
        <option value="해외축구">해외축구</option>
        <option value="농구">농구</option>
        <option value="이스포츠">이스포츠</option>
    </select>
    {% comment %} <input type="checkbox" name="sub_type" value="stock" onclick='toggleTextbox(this)'>주식
        <input type='text' id='my_text' disabled />
    <br> {% endcomment %}
    <br>
    <input type="submit" value="구독하기">
</form>

{% comment %} <div id="regist" style="display: none">
    <form method="POST">
        <table>
            <caption>신청하기</caption>
            <tr>
                <td>이름</td>
                <td><input type="text" name="id" placeholder="인대전"/> 
            </tr>
            <tr>
                <td>군 종류</td>
                <td><select name="category">
                    <option value="none" selected>=== 선택 ===</option>
                    <option value="army">육군</option>
                    <option value="air">공군</option>
                    <option value="navy">해군</option>
                    <option value="marine">해병대</option>
                    <option value="public">공익</option>
                </select></td>
            </tr>
            <tr>
                <td>입대날짜</td>
                <td><input type="date" name="date"/>
            </tr>
            <tr>
                <td>입영 훈련소</td>
                <td><select name="category">
                    <option value="none" selected>=== 선택 ===</option>
                    <option value="army1">1사단</option>
                    <option value="army3">3사단</option>
                    <option value="army5">5사단</option>
                    <option value="army6">6사단</option>
                    <option value="army7">7사단</option>
                    <option value="army9">9사단</option>
                    <option value="army12">12사단</option>
                    <option value="army15">15사단</option>
                    <option value="army21">21사단</option>
                    <option value="army25">25사단</option>
                    <option value="army27">27사단</option>
                    <option value="army28">28사단</option>
                    <option value="army31">31사단</option>
                    <option value="army32">32사단</option>
                    <option value="army35">35사단</option>
                    <option value="army36">36사단</option>
                    <option value="army37">37사단</option>
                    <option value="army39">39사단</option>
                    <option value="army50">50사단</option>
                    <option value="army51">51사단</option>
                    <option value="army55">55사단</option>
                    <option value="air">공군기초훈련단</option>
                    <option value="navy">해군기초군사교육단</option>
                    <option value="marine">해병대교육훈련단</option>
            </tr>
            <tr>
                <td>전화번호</td>
                <td><input type="tel" name="tel" placeholder="010-0000-0000"></td>
            </tr>
        </table>
            <tr>
                <td><input type="checkbox" name="sports" value="sports">국내축구</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="sports" value="sports">해외축구</td>
            </tr>
            <br>
            <tr>
                <td><input type="checkbox" name="sports" value="sports">국내야구</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="sports" value="sports">해외야구</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="sports" value="sports">농구</td>
            </tr>
            <br>
            <tr>
                <td><input type="checkbox" name="sports" value="sports">농구</td>
            </tr>
            <br>
            <tr>
                <td><input type="checkbox" name="stock" value="stock" onclick='toggleTextbox(this)'>주식</td>
                <input type='text' id='my_text' disabled />
            </tr>
            <br>
            <tr>
            <tr>
                <td><input type="button" id="check" value="확인" onclick="closeWin()"/></td>
            </tr>
    </form>
</div> {% endcomment %}