@font-face {
  font-family: 'EF_WAKEUP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_WAKEUP.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ROKAMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/ROKAMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: white;
  height: 50px;
}

body {
  background-color:rgb(255, 247, 238);
  font-family: 'ROKAMedium';
  margin: 0;
}

.icon-container {
  display: flex;
  flex-direction: row;
}

.icon {
  height: 20px;
  width: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 300px;
  background-color: white;
  height: 300px;
}

#footer-image {
  height: 80px;
}

a {
  text-decoration-line: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}